/* main css file */

.navbar #center-navbar {
    display: inline-block;
    float: none;
}

.navbar .container-fluid {
    text-align: center;
}

.contacts {
    display: inline-block !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

* {
    border: 0px solid red;
}