#myModal {

}


.outer-close {
    width: 30px;
    /*background-color: #858585;*/
}

button.close {
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 20px;
}

.modal-body {
    padding:0;
}

.modal-header, .modal-footer {
    border-width: 0;
}

.modal-content {
    border-radius: 0px;
    padding: 30px;
}

.modal-dialog {
    width: 70%;
}

.fa-star {
    color: #FFCC02;
}

.stars {
    margin: 20px auto;
}

.stars span {
    margin-left: 25px;
}

.stars a, .stars a:hover {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

#in-stock span {
    color: #B5D95F;
}

#in-stock {
    font-size: 13px;
    font-weight: 600;
}

.grey-color {
    color: grey;
    margin-right: 30px;
}

#add-in-modal {
    border: 1px solid black;
    border-radius: 0px;
    /* height: 38px;*/
    background-color: white;
    width: 200px;
    height:50px;
}

.btn-minus-plus * {
    background-color: white;
}

.btn-minus-plus button {
    padding: 12px;
}

.btn-minus-plus {
    border: 1px solid black;
    width: 150px;
    height: 50px;
}

#inner-btn-minus-plus {
    border: 1px solid grey;
}

.bundle-row {
    border-radius: 0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #333333;
}

#after-bundle {
    text-align: center;
}

#required {
    font-weight: 500;
    color: #FB3F3F;
    margin-bottom: 9px;
    font-size: 11px;
}

.second-colomn {
    padding-left:30px;
}

.second-colomn h4 {
    margin-top: 0;
    color: #231F20;
}

.img-modal img {
    width: 100%;
}

#price-as-conf {
    font-size: 12px;
}

.sign-mult {
    color: #FB3F3F;
}

.label-of-checkbox {
    font-weight: 500;
    font-size: 12px;
}

/* chechbox custom */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    border: 1px solid black;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -27px -4px no-repeat;
}


/* increase-decrease button */
.increase-decrease {
    border: 1px solid black;
    height: 50px;
    width: 158px;
    padding: 0;
}

.inner-btn {
    display: inline-block;
    margin:0;
    width: 49px;
    height: 100%;
}

.increase-decrease button {
    width: 100%;
    height: 100%;
    background-color: white;
}
.increase-decrease input {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}