{% extends "front_end/template_base.html" %}
{% load static from staticfiles %}

{% block content %}
<!--<div class="row">-->
	<!--<div class="col-md-12 thumbnail">-->
		<!--<img src="{% static 'img/1.1/01.png' %}" class="img-fluid" alt="Responsive image">-->
		<!--<div class="post-content">-->
			<!--<h1>ENGINE<br>TECHNOLOGY</h1>-->
			<!--<div class="line-left">-->
				<!--<hr class="divider">-->
			<!--</div>-->
			<!--<p>Nunc venenatis ex at enim sagittis accumsan.<br>-->
				<!--Nullam quis ligula non ante ullamcorper pretium vitae id quam.<br>-->
				<!--Donec ut nisl volutpat arcu eleifend placerat non vel urna.</p>-->
			<!--<div class="parent-btn-link">-->
				<!--<a type="button" href="#" class="button-link">SHOP NOW!</a>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->


<!--</div>-->
<div class="row">
	<br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item">
                <img src="{% static 'img/1.1/02.png' %}" alt="Chania" class="img-fluid">
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item active">
                <img src="{% static 'img/default.jpg' %}" class="img-fluid" alt="Responsive image">
                <div class="post-content">
                    <h1>ENGINE<br>TECHNOLOGY</h1>
                    <div class="line-left">
                        <hr class="divider">
                    </div>
                    <p>Nunc venenatis ex at enim sagittis accumsan.<br>
                        Nullam quis ligula non ante ullamcorper pretium vitae id quam.<br>
                        Donec ut nisl volutpat arcu eleifend placerat non vel urna.</p>
                    <div class="parent-btn-link">
                        <a type="button" href="#" class="button-link">SHOP NOW!</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{% static 'img/1.1/04.png' %}" alt="Flower"  class="img-fluid">
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Left, right controls and indicators -->
        <div class="left-right">
            <a class="left" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-caret-square-o-left fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-caret-square-o-right fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
              <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>

<div class="row" id="row-pictures">
    <div class="col-md-4" class="inner-row-picture">
        <img src="{% static 'img/1.1/02.png' %}" class="img-fluid">
        <div class="inner-row-incspirition" id="black-shop-now">
            <h3><strong>EJECTOR<br>SEATS</strong></h3>
            <a href="#" type="button">SHOP NOW
                <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-md-4" class="inner-row-picture">
        <img src="{% static 'img/1.1/03.png' %}" class="img-fluid">
        <div class="inner-row-incspirition">
            <h3><strong>MINING<br>DRILLS</strong></h3>
            <a href="#" type="button">SHOP NOW <i class="fa fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-md-4" class="inner-row-picture">
        <img src="{% static 'img/1.1/04.png' %}" class="img-fluid">
        <div class="inner-row-incspirition">
            <h3><strong>BIG<br>SALE<br>50%</strong></h3>
            <a href="#" type="button">SHOP NOW <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<hr class="divider" id="check-out-divider">
<div class="row">
    <div class="text-center">
        <h5><strong>CHECK OUR PRODUCTS</strong></h5>
        <img src="{% static 'img/1.1/divider.png' %}" class="img-fluid">
        <h5><strong>BEST SELLER</strong> <p class="circle"><i class="fa fa-circle"></i></p> NEW ARRIVALS MOST
            <p class="circle"><i class="fa fa-circle"></i></p> WANTED</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="{% static 'img/1.1/05.png' %}" class="img-fluid">
        <h4><strong>EJECTOR SEAT</strong></h4>
        <p><span class="line-through">$110.00</span> <span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/06.png' %}" class="img-fluid">
        <h4><strong>FRONT ENGINE SHIELD</strong></h4>
        <p><span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/07.png' %}" class="img-fluid">
        <h4><strong>LASER CANON</strong></h4>
        <p><span class="line-through">$110.00</span> <span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/08.png' %}" class="img-fluid">
        <h4><strong>ENGINE SPLASH SHIELD</strong></h4>
        <p><span class="line-through">$110.00</span> <span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="{% static 'img/1.1/09.png' %}" class="img-fluid">
        <h4><strong>AMORT PLATE</strong></h4>
        <p><span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/10.png' %}" class="img-fluid">
        <h4><strong>ENGINE COVER SHIELD</strong></h4>
        <p><span class="line-through">$110.00</span> <span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/11.png' %}" class="img-fluid">
        <h4><strong>SIDE POWER THRUSTER</strong></h4>
        <p><span class="line-through">$110.00</span> <span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/1.1/12.png' %}" class="img-fluid">
        <h4><strong>ENGINE COVER SHIELD</strong></h4>
        <p><span class="big-price">$100.00</span></p>
        <a type="button" href="#" class="btn add-to-cart">ADD TO CART</a>
    </div>
</div>

<!-- BLOG -->
<div class="row" id="blog">
    <h3 class="text-center"><strong>BLOG</strong></h3>
    <div class="col-md-4">
        <img src="{% static 'img/1.1/13.png' %}" class="img-fluid">
        <h5>TRENDING FOR 2015!</h5>
        <p class="small">
            From the parks of Toronto to the Tuileries in Paris, we've got
            a penchant for capturing the best street...
        </p>
        <p class="blog-date">9/10/2015 7:31 PM|Posting By Leo Nguen</p>
    </div>

    <div class="col-md-4">
        <img src="{% static 'img/1.1/14.png' %}" class="img-fluid">
        <h5>TRENDING FOR 2015!</h5>
        <p class="small">
            From the parks of Toronto to the Tuileries in Paris, we've got
            a penchant for capturing the best street...
        </p>
        <p class="blog-date">9/10/2015 7:31 PM|Posting By Leo Nguen</p>
    </div>

    <div class="col-md-4">
        <img src="{% static 'img/1.1/15.png' %}" class="img-fluid">
        <h5>TRENDING FOR 2015!</h5>
        <p class="small">
            From the parks of Toronto to the Tuileries in Paris, we've got
            a penchant for capturing the best street...
        </p>
        <p class="blog-date">9/10/2015 7:31 PM|Posting By Leo Nguen</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><i class="fa fa-close fa-lg"></i></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-5 img">

            </div>
            <div class="col-md-7">
                <span class="h4"></span>
                <p>Many desktop publishing packages and web page editors now
                    use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                    will uncover many web sites still in their infancy.</p>
                <p class="stars">
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <span>
                        <a href="#">1 Review(s)</a> |
                        <a href="#">Add Your Review</a>
                    </span>
                </p>
                <p>
                    Availability:<span id="in-stock">In Stock</span>
                </p>
                <p id="model-price">

                </p>
                <p>Price as configured: <span class="big-price">$0.00</span></p>
                <p><span class="grey-color">SKU:</span> BP000</p>
                <hr class="divider">

                <form>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="bundle">OUR BUNDLE *</label>
                            <select class="form-control bundle-row" id="bundle">
                                <option>Choose a selection...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="small text-right" id="required">* Required Fields</p>
                            <input type="text" class="form-control bundle-row" id="" value="1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="chb" >OUR CONDITIONS *</label>
                                    <div>
                                        <input type="checkbox" id="chb"> 1xFront Engine Shield - Jacket Colspay + $10.00
                                    </div>
                                    <div>
                                        <input type="checkbox"> 1xFront Engine Shield - Crew Tee + $5.00
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group btn-minus-plus">
                                <span class="input-group">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-minus fa-lg"></i>
                                    </button>
                                </span>
                                <span class="input-group-addon" id="inner-btn-minus-plus">1</span>
                                <span class="input-group">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-plus fa-lg"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button type="submit" class="btn" id="add-in-modal">ADD TO CART</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>


{% endblock %}
