{% extends "front_end/template_base.html" %}
{% load static from staticfiles %}

{% block navbar %}{% endblock %}

{% block subnavbar %}{% endblock %}

{% block content %}
	<ul>
		<li>
			<a href="{% url 'front-end' 1 %}" class="lead">Template #1</a>
		</li>
		<li>
			<a href="{% url 'front-end' 2 %}" class="lead">Template #2</a>
		</li>
	</ul>
	<input type="checkbox" id="c1" name="cc" />
	<label for="c1"><span></span>Check Box 1</label>

{% endblock %}

{% block info %}{% endblock %}
{% block footer %}{% endblock %}