<!-- Custom template -->

{% load i18n %}
{% load static from staticfiles %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top accounts"  id="top_page1">
    {# This is used in mobile view #}
    <div class="navbar-header">
        <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".account-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <div class="navbar-collapse account-collapse collapse" id="top_page">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="contacts">
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i> Call Us:+84 987 654 321 |
                    </a>

                    <a href="#" class="contacts">
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Email:support@spaceship.com
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" id="center-navbar">
                <li class="active"><a class="active">HOME</a></li>
                <li><a>SHOP</a></li>
                <li><a>FAVOURITES</a></li>
                <li><a>ABOUT</a></li>
                <li><a>BLOG</a></li>
                <li><a>CONTACTS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {% trans "Account" %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                        {% endif %}
                    </li>

                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'customer:login' %}">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                        {% trans "Login" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<!--<div class="navbar navbar-default navbar-static-top accounts">-->
        <!--<div class="container-fluid">-->
            <!--<div class="nav-row">-->
                <!--<ul class="nav navbar-nav" id="sub-bar">-->
                    <!--<li class="nav-item col-md-2 col-xs-12" id="spaceship-brand">-->
                        <!--<a class="navbar-brand text-left" href="#">SPACESHIP E-COMMERCE STORE</a>-->
                    <!--</li>-->

                    <!--<li class="nav-item col-md-9 col-xs-12">-->
                        <!--<div class="nav-row">-->
                            <!--<ul class="nav navbar-nav">-->
                                <!--<li class="active"><a>EJECTOR SEATS</a></li>-->
                                <!--<li><a>SHIELDS</a></li>-->
                                <!--<li><a>BLASTERS</a></li>-->
                                <!--<li><a>ENGINES</a></li>-->
                                <!--<li><a>THRUSTERS</a></li>-->
                                <!--<li><a>MINNING DRILS</a></li>-->
                                <!--<li><a>MORE</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="nav-row">-->
                                    <!--<form class="form-inline" role="form">-->
                                        <!--<div class="input-group" id="input-div">-->
                                            <!--<span class="input-group-addon"><i class="icon-search"></i></span>-->
                                            <!--<input type="search" class="form-control" id="search-id"-->
                                                   <!--placeholder="Type to search">-->
                                            <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<button class="btn btn-secondary" type="button">Go!</button>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</form>-->
                        <!--</div>-->
                    <!--</li>-->

                    <!--<li class="nav-item col-md-1 col-xs-12" id="shopping-cart">-->



                        <!--<a class="text-right" href="#"><i class="fa fa-shopping-bag fa-3x" aria-hidden="true">0-->
                        <!--</i>SHOPPING CART</a>-->
                    <!--</li>-->

                <!--</ul>-->

            <!--</div>-->
        <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<img src="{% static 'img/01.png' %}">-->
    <!--</div>-->
<!--</div>-->

